!!! 5
%html{ :lang=>"en" }
  %head
    = partial 'meta'

    %title #{ data.meta.title }

    = partial 'authorship'
    = partial 'style'
    = partial 'modernizr'

  %body
    %aside
    %nav
    %main
    = partial 'footer'

  = partial 'jq'
  = partial 'bt'
  = partial 'maps'
  = partial 'analytics'
