!!! 5
%html(itemscope){ :itemtype=>"http://schema.org/WebPage", :lang=>"en" }<
  %head<
    - if environment == :build
      = partial 'options'
    = partial 'meta'
    %title {Title}
    = partial 'authorship'
    = partial 'style'
    = partial 'modernizr'
  %body
    = partial 'aside'
    = partial 'nav'
    = yield
    = partial 'footer'

    / Google Analytics
    = google_analytics_universal_tag

    / Google Maps
    = partial 'maps'

    / jQuery
    = partial 'jq'

    / Twitter Bootstrap
    = partial 'bt'
