!!! 5
%html{ :lang=>"en" }
  %head
    - if environment == :build
      = partial 'options'
    = partial 'meta'
    %title {Title}
    = partial 'authorship'
    = partial 'style'
    = partial 'modernizr'
  %body
    = partial 'aside'
    = partial 'nav'
    = yield
    = partial 'footer'
    = partial 'jq'
    = partial 'bt'
    = partial 'maps'
    = google_analytics_tag
